<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyTeam</title>
    <link rel="shortcut icon" href="logo.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../public/estilos.css"/>
</head>
<body>
   
        
        <nav id="Links">
            <a href="mailto:mpriec05@estudiantes.unileonl.es@gmail.com" id="correo">Mail</a>
            <a href="https://github.com/Miguel011">GitHub</a>
            <a href="https://www.instagram.com/miguii9/?hl=es">Instagram</a>
            <a href="https://twitter.com/Miguii_10"> Twitter </a>
         </nav>

    
        <nav id="Rutas">
            <table id="tabla1">
                    <tr> 
                    <td><img src="../public/liga.png" height="240" width="240"/></td>     
                    <td id="textTabla"> <a href= "#">Inicio</a></td>
                    <td id="textTabla"> <a href= "instrucciones.html">¿Cómo Jugar?</a></td>
                    <td id="textTabla"> <a href= "jugadores.ejs">Jugadores</a></td>
                    </tr>
            </table>
        </nav>
   
    <div id="contenedor">
        <table id="tabla2">
            <tr>
                <td>
                    <img src="../public/campo.png" height="500" width="800"/>
                </td>
                <td>
                    <h1 id="titulo1">¿PARA QUE SIRVE MYTEAM?</h1>
                    <p id="text1">
                        El funcionamiento de esta página es hacer un sistema de recomendaciones sobre jugadores de fútbol. <br/>
                        Se basaría en estudiar una serie de estadísticas, ya sean por ejemplo: asistencias, goles, balones recuperados, perdidos, etc.. <br/>
                        Esta página trata de como digo antes estudiar las estadísticas de los jugadores para poder recomendar jugadores de fútbol que puedas incluir en tu equipo
                        en base a las condiciones que tu elijas.
                     </p>
                </td>
            </tr>
            
        </table>
        
        


     </div>
    
    
</body>
</html>