<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyTeam</title>
    <link rel="shortcut icon" href="logo.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../public/estilos.css"/>

    
</head>
<body>
    
        
        <nav id="Links">
            <a href="mailto:mpriec05@estudiantes.unileonl.es@gmail.com" id="correo">Mail</a>
            <a href="https://github.com/Miguel011">GitHub</a>
            <a href="https://www.instagram.com/miguii9/?hl=es">Instagram</a>
            <a href="https://twitter.com/Miguii_10"> Twitter </a>
         </nav>

    

        <nav id="Rutas">
            <table id="tabla1">
                <tr>
                    <td><img src="../public/liga.png" height="240" width="240"/></td> 
                    <td id="textTabla"> <a href= "index.html">Inicio</a></td>
                    <td id="textTabla"> <a href= "#">¿Cómo Jugar?</a></td>
                    <td id="textTabla"> <a href= "jugadores.ejs">Jugadores</a></td>
                </tr>
            </table>
        </nav>
    
    <div id="container">
        <table id="tabla3">
            <tr>
                <td>
                    <img src="../public/fantasy.png" height="900" width="450"/>
                </td>
                <td>
                    <h1 id="titulo1">DEBERÍAS SABER...</h1>
                    <p id="text2">
                        Para el funcionamiento de esta página web es necesario estar en una liga compitiendo como 
                        por ejemplo "la liga fantasy" de Marca. Existen otro tipo de paginas que hacen lo mismo, simplemente
                        escoge la que más te guste y !A Jugar!.  <br/>
                        En este tipo de ligas hay que estar muy atento al mercado para fichar jugadores para tu equipo por lo cual
                        esta página te ofrece un sistema de búsqueda para fichar los jugadores en torno a tus expectativas. 
                        Al principio del juego te dan un dinero limitado por el cual tienes que escoger ciertos jugadores para formar tu 
                        plantilla y esta página (entre otras cosas) te hace una búsqueda de los jugadores correspondiente al precio que quieras 
                        gastar y a las estadísticas que tengan.  <br/>
                        ¡SOLO QUEDA TENER EL MEJOR EQUIPO Y GANAR LA LIGA A LOS DEMÁS USUARIOS!
                    </p>
            
                </td>
            </tr>
        </table>
    </div>
</body>
</html>